<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website untuk mencari restoran" />
    <meta name="author" content="Rahmad Fahrurrozi" />
    <link rel="icon" href="./images/logo/logo-restourant.png">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png" content="yes">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Fizzy Restaurant Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to main content</a>
    <header>
      <nav tabindex="0">
        <div class="nav-logo" tabindex="0">
          <img src="./images/logo/logo-restourant.png" alt="Fizzy Bites Logo" />
          <p>Fizzy Bites</p>
        </div>
        <button
          class="hamburger-menu"
          aria-label="Toggle menu"
          id="hamburgerButton"
          tabindex="0"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="nav-menu" id="navMenu" role="menu">
          <li role="none">
            <a href="#/" tabindex="0" role="menuitem">Home</a>
          </li>
          <li role="none">
            <a href="#/favorite" tabindex="0" role="menuitem">Favorite</a>
          </li>
          <li role="none">
            <a
              href="https://github.com/RahmadFahrurrozi"
              tabindex="0"
              role="menuitem"
              target="_blank"
              rel="noreferrer"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer class="complex-footer">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="./images/logo/logo-restourant.png" alt="Fizzy Bites Logo" />
        </div>
        <div class="footer-info">
          <h3>Contact Us</h3>
          <p>Address: 123 Culinary Street, Foodie City, FC 12345</p>
          <p>Email: info@fizzybites.com</p>
          <p>Phone: +1 (555) 123-4567</p>
        </div>
        <div class="footer-links">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#gallery">Gallery</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Fizzy Bites. All rights reserved.</p>
      </div>
    </footer>

    <!-- <script src="./scripts/index.js" type="module"></script> -->
  </body>
</html>
